{% extends "base.html" %}
{% block link %}
    <link rel="stylesheet" href="/static/prod-assets/bootstrap.min.css">
{% endblock %}
{% block section %}
    <div class="container">
        <form method="POST" action="/">
            {{ form.hidden_tag() }}
            <form>
                <div class="row mt-5">
                    <div class="col-4">
                        <h2>Ustawienie parametrów regulatora</h2>
                        <div class="form-group">
                            <label for="sample_time_range">Okres próbkowania <abbr class="help" title="Okres próbkowania, obliczny jest ze wzoru 10 000 * wybrana przez użykownika wartość ze slidera"><code><i class="fa fa-question-circle" aria-hidden="true"></i></code></abbr></label>
                            <div class="w-75">
                                {{ form.sample_time(type="range", class="custom-range form-control", id="sample_time_range", min="0", max="1", step="0.01") }}
                            </div>
                            <span class="font-weight-bold ml-2 sample_time_value"></span>
                        </div>
                        <div class="form-group">
                            <label for="differential_time_range">Czas wyprzedzenia <abbr class="help" title="Czas wyprzedzenie działa aktualnie tylko w wykresie dla zwykłego PID"><code><i class="fa fa-question-circle" aria-hidden="true"></i></code></abbr></label>
                            <div class="w-75">
                                {{ form.differential_time(type="range", class="custom-range form-control", id="differential_time_range", min="0", max="1", step="0.01") }}
                            </div>
                            <span class="font-weight-bold ml-2 differential_time_value"></span>
                        </div>
                        <div class="form-group">
                            <label for="integration_time_range">Czas zdwojenia</label>
                            <div class="w-75">
                                {{ form.integration_time(type="range", class="custom-range form-control", id="integration_time_range", min="0", max="1", step="0.01") }}
                            </div>
                            <span class="font-weight-bold ml-2 integration_time_value"></span>
                        </div>
                        <div class="form-group">
                            <label for="gain_range">Wartość wzmocnienia regulatora</label>
                            <div class="w-75">
                                {{ form.gain(type="range", class="custom-range form-control", id="gain_range", min="0", max="15", step="0.1") }}
                            </div>
                            <span class="font-weight-bold ml-2 gain_value"></span>
                        </div>
                        <div class="form-group">
                            <label for="h_z_range">Wartość zadana</label>
                            <div class="w-75">
                                {{ form.h_z(type="range", class="custom-range form-control", id="h_z_range", min="0", max="10", step="0.1") }}
                            </div>
                            <span class="font-weight-bold ml-2 h_z_value"></span>
                        </div>
                    </div>
                    <div class="col-4">
                        <h2>Ustawienie parametrów zbiornika</h2>
                        <div class="form-group">
                            <label for="surface_area_range">Pole powierzchni przekroju poprzecznego</label>
                            {{ form.A (type="number", class="form-control", id="surface_area_range", step="0.1" )}}
                        </div>
                        <div class="form-group">
                            <label for="discharge_coefficient_range">Współczynnik wypływu</label>
                            {{ form.B (type="number", class="form-control", id="discharge_coefficient_range",step="0.1")}}
                        </div>
                        <div class="form-group">
                            <label for="h_max_range">Maksymalny poziom substancji w zbiorniku</label>
                            {{ form.h_max (type="number", class="form-control", id="h_max_range")}}
                        </div>
                    </div>
                    <div class="col-4">
                        <h2>Ustawienie parametrów zaworu</h2>
                        <div class="form-group">
                            <label for="u_max_range">Maksymalna wartość sygnału sterującego</label>
                            {{ form.u_max (type="number", class="form-control", id="u_max_range")}}
                        </div>
                        <div class="form-group">
                            <label for="u_min_range">Minimalna wartość sygnału sterującego</label>
                            {{ form.u_min (type="number", class="form-control", id="u_min_range")}}
                        </div>
                        <div class="form-group">
                            <label for="Q_d_max_range">Maksymalne natężenie dopływu</label>
                            {{ form.Q_d_max (type="number", class="form-control", id="Q_d_max_range")}}
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="form-group p-3 mx-auto">
                        {{ form.submit_all (class="btn btn-dark") }}
                    </div>
                </div>
            </form>
        </form>
    </div>
{% endblock %}
